.chat-container {
    height: 100vh;
    display: flex;
    padding: 0;
    background-color: #f5f5f5;
}

.chat-sidebar {
    width: 15%;
    padding: 20px;
    background-color: #0077b6;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.chat-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-sidebar-title {
    color: white;
    font-weight: bold;
}

.new-chat-img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.chat-divider {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: white;
}

.chat-list {
    list-style-type: none;
    padding: 0;
}

.chat-list-item {
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-list-item:hover {
    background-color: #005f8f;
}

.chat-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #e0f7fa;
}

.chat-messages {
    max-width: 99%;
    flex-grow: 1;
    padding: 20px;
    background-color: #e0f7fa;
    overflow-y: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.5;
}


.chat-messages::-webkit-scrollbar {
    width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: #0077b6;
    border-radius: 4px;
}

.chat-input-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.chat-input {
    width: 50%;
    height: 40px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
}

.chat-send-button {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.send-img {
    width: 27px;
    height: 27px;
}
.send-img:hover {
   transform: scale(1.1);
}
